.formContainer {
  background-color: #11253b;
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: 500px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0.25rem;
  overflow-y: hidden;
  margin: 0;
  z-index: 100;
  transition: bottom 1s ease-out;
}

.innerFormContainer {
  padding: 0.8rem;
}

.formTitle {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  color: #7fdbff;
  display: flex;
  justify-content: center;
}

.formGroup {
  margin-bottom: 2rem;
}

.label {
  display: block;
  font-size: 0.875rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #7fdbff;
}

.input {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  border: 1px solid #0074d9;
  border-radius: 0.25rem;
  width: 90%;
  padding: 0.5rem;
  color: #001f3f;
  outline: none;
  -moz-appearance: textfield;
  -webkit-appearance: none;
  appearance: none;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input[type="number"] {
  -moz-appearance: textfield;
}

.input:focus {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  width: 100%;
}

.button {
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  outline: none;
  border: none;
  cursor: pointer;
  margin: 10px;
  margin-bottom: 12px;
  width: 80px;
}

@media (min-width: 900px) {
  .formContainer {
    width: 29.3vw;
    border-radius: 0.25rem;
    border-bottom-left-radius: 2.7rem;
    border-bottom-right-radius: 2.7rem;
    height: 350px;
  }
}

.buttonRed {
  background-color: #ff4136;
  color: white;
}

.buttonRed:hover {
  background-color: #ff851b;
}

.buttonGreen {
  background-color: #2ecc40;
  color: white;
}

.buttonGreen:hover {
  background-color: #28a745;
}

.cancelBtn {
  margin-bottom: 10px;
}
