.spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 20px 0; */
}

.icon {
    animation: spin 1s linear infinite;
    /* font-size: 24px; */
    /* margin-right: 10px; */
}

.text {
    font-size: 16px;
    font-weight: bold;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
